* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.mycl-nav-logo-div {
  width: 5vw;
  height: 5vw;
  overflow: hidden;
}

.mycl-nav-logo-div img {
  width: 5vw;
  height: 5vw;
}

.mycl-nav-logo-div img:hover {
  transform: scale(1.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 5vw;
  background-color: #29262e;
  color: white;
  margin: 0px auto;
  padding: 0 2vw;
  border-radius: 1vw;
  position: sticky;
  top: 0;
  z-index: 5;
}

.mycl-nav-links-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  height: 5vw;
}

.mycl-nav-links-div a {
  position: relative;
  text-decoration: none;
  color: #64e3ff;
  font-size: 1.7vw;
}

.mycl-nav-links-div a:hover {
  transform: scale(1.1);
}

.mycl-nav-links-div a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0.2vw;
  background-color: #64e3ff;
  transition: width 0.3s;
  bottom: -0.2vw;
  left: 0;
}

.mycl-nav-links-div a:hover::after {
  width: 100%;
}

.mycl-nav-links-div button {
  background-color: 517fa4;
  color: #29262e;
  border: none;
  padding: 0.5vw 1vw;
  font-weight: 700;
  border-radius: 0.5vw;
  font-size: 1.2vw;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.mycl-nav-links-div button::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #64e3ff;
  bottom: 0;
  left: -100%;
  z-index: -1;
}

.mycl-nav-links-div button:hover::before {
  width: 100%;
  left: -50%;
  transition: 0.5s;
}

.mycl-nav-links-div button::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #64e3ff;
  top: 0;
  right: -100%;
  z-index: -1;
}

.mycl-nav-links-div button:hover::after {
  width: 100%;
  right: -50%;
  transition: 0.5s;
}

.mycl-hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  /* height: 90vh; */
  margin: 5vh auto;
  background-color: #29262e;
  border-radius: 1vw;
  padding: 0 2vw;
}

.mycl-hero-section-image {
  position: relative;
}

.mycl-hero-section-image img {
  width: 40vw;
  /* height: 40vw; */
  border-radius: 1vw;
}

.mycl-hero-section-image img:hover {
  transform: scale(1.03);
}

.mycl-brown-tint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 1vw;
  height: 100%;
  background-color: rgba(29, 26, 22, 0.3);
}

.mycl-brown-tint:hover {
  display: none;
}

.mycl-hero-section-text {
  width: 40vw;
  height: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mycl-hero-section-text h1 {
  font-size: 3.3vw;
  color: #64e3ff;
  margin-bottom: 1vw;
}

.mycl-hero-section-text h1:hover nav{
  display: none;
}

.mycl-hero-section-text h1::selection {
  background-color: #64e3ff;
  color: #29262e;
}

.mycl-hero-section-text p {
  font-size: 1.7vw;
  color: white;
  text-align: center;
  /* letter-spacing: 0.2vw; */
}

.mycl-hero-section-text p::selection {
  color: #29262e;
  background-color: #64e3ff;
}

.mycl-hero-section-text button {
  background-color: #64e3ff;
  color: #29262e;
  border: none;
  padding: 0.5vw 1vw;
  font-weight: 900;
  font-size: 1.5vw;
  border-radius: 0.5vw;
  margin-top: 1.6vw;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.mycl-hero-section-text button::selection {
  color: #64e3ff;
  background-color: #29262e;
}

.mycl-hero-section-text button:hover {
  color: #64e3ff;
}

.mycl-hero-section-text button::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  bottom: 0;
  left: -100%;
  z-index: -1;
}

.mycl-hero-section-text button:hover::before {
  width: 100%;
  left: -50%;
  transition: 0.5s;
}

.mycl-hero-section-text button::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  right: -100%;
  z-index: -1;
}

.mycl-hero-section-text button:hover::after {
  width: 100%;
  right: -50%;
  transition: 0.5s;
}

.mycl-introduction-section {
  width: 90vw;
  margin: 0px auto;
  background-color: #29262e;
  padding: 3vw;
  border-radius: 1vw;
}

.mycl-introduction-section-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mycl-introduction-section-text h1 {
  font-size: 3.3vw;
  color: #64e3ff;
  margin-bottom: 1vw;
  position: relative;
}

.mycl-introduction-section-text h1::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0.2vw;
  background-color: #64e3ff;
  transition: width 0.3s;
  bottom: -0.2vw;
  left: 0;
}

.mycl-introduction-section-text h1:hover::after {
  width: 100%;
}

.mycl-introduction-section-text h1::selection {
  background-color: #64e3ff;
  color: #29262e;
}

.mycl-introduction-section-text p {
  font-size: 1.7vw;
  color: white;
  text-align: justify;
}

.mycl-introduction-section-text p::selection {
  background-color: #64e3ff;
  color: #29262e;
}

.mycl-bio-section {
  width: 90vw;
  margin: 5vh auto;
  border-radius: 1vw;
  background-color: #29262e;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
}

.mycl-bio-section > h1 {
  color: #64e3ff;
  font-size: 3.3vw;
  margin: 3vw 0;
  position: relative;
}

.mycl-bio-section > h1::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0.2vw;
  background-color: #64e3ff;
  transition: width 0.3s;
  bottom: -0.2vw;
  left: 0;
}

.mycl-bio-section > h1:hover::after {
  width: 100%;
}

.mycl-bio-section > h1::selection {
  background-color: #64e3ff;
  color: #29262e;
}

.mycl-bio-flex {
  display: flex;
  justify-content: space-between;
  gap: 3vw;
}

.mycl-bio-img-div {
  width: 40vw;
  border-radius: 1vw;
  overflow: hidden;
}

.mycl-bio-img-div img {
  width: 40vw;
  height: auto;
  border-radius: 1vw;
}

.mycl-bio-text-div {
  width: 40vw;
}

.mycl-bio-text-div p {
  color: white;
  font-size: 1.7vw;
  text-align: justify;
}

.mycl-bio-text-div p::selection {
  background-color: #64e3ff;
  color: #29262e;
}

.mycl-skill-section {
  width: 90vw;
  margin: 0 auto;
  border-radius: 1vw;
  background-color: #29262e;
  margin: 5vh auto;
}

.mycl-skill-section > h1 {
  color: #64e3ff;
  font-size: 3.3vw;
  margin: 3vw 0;
  position: relative;
}

.mycl-skill-section > h1::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0.2vw;
  background-color: #64e3ff;
  transition: width 0.3s;
  bottom: -0.2vw;
  left: 0;
}

.mycl-skill-section > h1:hover::after {
  width: 100%;
}

.mycl-skill-section > h1::selection {
  background-color: #64e3ff;
  color: #29262e;
}

.mycl-skill-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mycl-skills-flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3vw;
  margin: 3vw 0;
}

.mycl-flex-item > h1 {
  color: #64e3ff;
  font-size: 2vw;
  position: relative;
}

.mycl-flex-item > h1::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0.2vw;
  background-color: #64e3ff;
  transition: width 0.3s;
  bottom: -0.2vw;
  left: 0;
}

.mycl-flex-item > h1:hover::after {
  width: 100%;
}

.mycl-flex-item > h1::selection {
  background-color: #64e3ff;
  color: #29262e;
}

.mycl-flex-item > h2 {
  color: #64e3ff;
  font-size: 1.5vw;
  position: relative;
}

.mycl-flex-item > h2::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.2vw;
  background-color: #64e3ff;
  transition: width 0.3s;
  bottom: -0.2vw;
  left: 0;
}

.mycl-flex-item > h3 {
  color: #64e3ff;
  font-size: 1.3vw;
}

.mycl-flex-item {
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  border: 0.2vw solid #64e3ff;
  border-radius: 1vw;
  padding: 2vw;
  transition: 1s;
  background-color: #29262e;
}

.mycl-flex-item:hover {
  transform: scale(1.2);
}

.mycl-progress {
  width: 60%;
}

.mycl-flex-item > img {
  width: 6vw;
  height: auto;
}

.mycl-html-featured-images {
  display: grid;
  grid-template-columns: auto;
}

.mycl-html-featured-images > img {
  width: 30vw;
}

/* Project Section CSS */

.mycl-project-section {
  width: 90vw;
  margin: 0 auto;
  border-radius: 1vw;
  background-color: #29262e;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
}

.mycl-project-section > h1 {
  color: #64e3ff;
  font-size: 3.3vw;
  margin: 3vw auto;
  position: relative;
  align-self: center;
}

.mycl-project-section > h2 {
  color: #64e3ff;
  font-size: 3vw;
  margin-left: 4vw;
}

.mycl-project-section > h1::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0.2vw;
  background-color: #64e3ff;
  transition: width 0.3s;
  bottom: -0.2vw;
  left: 0;
}

.mycl-project-section > h1:hover::after {
  width: 100%;
}

.mycl-project-section > h1::selection {
  background-color: #64e3ff;
  color: #29262e;
}

.mycl-projects-flex {
  display: flex;
  gap: 3vw;
  justify-content: space-evenly;
  padding: 3vw;
}

.mycl-projects-flex-card {
  padding: 1vw;
  box-shadow: 0 0 0.2vw rgba(29, 26, 22, 0.3);
  transform: skew(15deg);
  width: 20vw;
  overflow: hidden;
  transition: 0.3s;
  border: 2px solid #64e3ff;
  background-color: #29262e;
}

.mycl-projects-flex-card-body h5 {
  color: #64e3ff;
  font-size: 1.1vw;
}

.mycl-projects-flex-card-body h5::selection {
  background-color: #64e3ff;
  color: #29262e;
}

.mycl-projects-flex-card-body p {
  color: #29262e;
  font-size: 1vw;
}

.mycl-projects-flex-card:hover {
  transform: skew(0deg, 0deg);
}

.mycl-projects-flex-card img {
  border-radius: 1vw;
  box-shadow: 0 0 0.2vw rgba(29, 26, 22, 0.3);
  height: 50%;
}

.mycl-projects-flex-card-body a {
  background-color: #29262e;
  color: #64e3ff;
  border: none;
  padding: 0.5vw 1vw;
  font-weight: 700;
  border-radius: 0.5vw;
  font-size: 1.2vw;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.mycl-projects-flex-card-body a:hover {
  background-color: #29262e;
  color: #29262e;
}

.mycl-projects-flex-card-body a::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #64e3ff;
  bottom: 0;
  left: -100%;
  z-index: -1;
}

.mycl-projects-flex-card-body a:hover::before {
  width: 100%;
  left: -50%;
  transition: 0.5s;
}

.mycl-projects-flex-card-body a::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #64e3ff;
  top: 0;
  right: -100%;
  z-index: -1;
}

.mycl-projects-flex-card-body a:hover::after {
  width: 100%;
  right: -50%;
  transition: 0.5s;
}

:root {
  --dark-green: #628b48;
  --light-green: #6ab547;
  --yellow: #edd83d;
  --black: #000000;
  --white: #ffffff;
}

/* From Uiverse.io by Spacious74 */
.container {
  padding: 1vw;
  /* max-width: 700px;
  margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .heading {
  font-size: 1.4vw;
  margin-bottom: 2vw;
  font-weight: bolder;
  font-size: 3vw;
  text-align: left;
  color: #64e3ff;
  position: relative;
}

.container .heading:before{
  content: "";
  width: 0;
  height: 0.2vw;
  background-color: #64e3ff;
  position: absolute;
  bottom: 0.2vw;
  left: 0;

}

.container .heading:hover::before{
  width: 100%;
  transition: 0.4s all;
}

.form {
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.form .btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2vw;
}

.form .btn {
  padding: 0.4vw 0.7vw;
  font-size: 1vw;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  border-radius: 1vw;
  border: none;
  background-color: var(--light-green);
  color: var(--black);
  font-weight: bolder;
  transition: all 0.2s ease;
}

.form .btn:active {
  /* box-shadow: inset #29262e, inset var(--black); */
  transform: scale(0.995);
}
.form .btn:hover{
  /* background-color: #29262e; */
  color: #64e3ff;
}

.input-field {
  position: relative;
}

.input-field label {
  position: absolute;
  color: #8d8d8d;
  pointer-events: none;
  background-color: transparent;
  left: 0.8vw;
  transform: translateY(0.2vw);
  transition: all 0.3s ease;
}

.input-field input {
  padding: 0.4vw 0.6vw;
  font-size: 1vw;
  border-radius: 0.8vw;
  border: solid 1px #8d8d8d;
  letter-spacing: 0.1vw;
  width: 100%;
}

.input-field input:focus,
.input-field input:valid {
  outline: none;
  border: solid 1px #0034de;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  transform: translateY(-51%) translateX(-0.8vw) scale(0.8);
  /* background-color: #fff; */
  padding: 0px 0.2vw;
  color: #64e3ff;
  font-weight: bolder;
  letter-spacing: 0.1vw;
  border: none;
  border-radius: 5vw;
}

.form .passicon {
  cursor: pointer;
  font-size: 1.3vw;
  position: absolute;
  top: 0.3vw;
  right: 0.4vw;
}

.form .close {
  display: none;
}

.mycl-btn {
  width: 100%;
  background-color: #64e3ff;
}
.input-field {
  position: relative;
}

.input-field label {
  position: absolute;
  color: #8d8d8d;
  pointer-events: none;
  background-color: transparent;
  left: 1vw;
  transform: translateY(0.6vw);
  transition: all 0.3s ease;
}

.input-field input,
.input-field textarea {
  padding: 0.7vw 0.8vw;
  font-size: 1vw;
  border-radius: 1vw;
  border: solid 1px #8d8d8d;
  letter-spacing: 1px;
  width: 100%;
}

.input-field textarea {
  resize: vertical; /* Allows resizing vertically only */
  min-height: 10vw;
}

.input-field input:focus,
.input-field input:valid,
.input-field textarea:focus,
.input-field textarea:valid {
  outline: none;
  border: solid 1px #0034de;
}

.input-field label {
  position: absolute;
  color: #8d8d8d;
  pointer-events: none;
  background-color: transparent;
  left: 0.7vw;
  transform: translateY(0.7vw);
  transition: all 0.3s ease;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label,
.input-field textarea:focus ~ label,
.input-field textarea:valid ~ label {
  transform: translateY(-91%) translateX(-1vw) scale(0.8);
  /* background-color: #fff; */
  padding: 0px 5px;
  color: #64e3ff;
  font-weight: bolder;
  letter-spacing: 1px;
  border: none;
  border-radius: 100px;
}

.form .btn {
  padding: 10px 20px;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
  border: none;
  background-color: #64e3ff;
  color: #29262e;
  font-weight: 900;
  transition: all 0.2s ease;
}


.form .btn {
  background-color: #64e3ff;
  color: #29262e;
  border: none;
  padding: 0.5vw 1vw;
  font-weight: 900;
  font-size: 1.5vw;
  border-radius: 0.5vw;
  margin-top: 1.6vw;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.form .btn::selection {
  color: #64e3ff;
  background-color: #29262e;
}

.form .btn:hover {
  color: #64e3ff;
  background-color: #64e3ff;
}

.form .btn::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  bottom: 0;
  left: -100%;
  z-index: -1;
}

.form .btn:hover::before {
  width: 100%;
  left: -50%;
  transition: 0.5s;
}

.form .btn::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  right: -100%;
  z-index: -1;
}

.form .btn:hover::after {
  width: 100%;
  right: -50%;
  transition: 0.5s;
}


.mycl-contact-section{
  width: 90vw;
  background-color: #29262e;
  border-radius: 2vw;
  margin: 5vw auto;
}

footer{
  display: flex;
  justify-content: space-around;
  background-color: #29262e;
  color: white;
  align-items: center;
  padding: 1vw 0;
  width: 90vw;
  margin: 5vw auto 0 auto;
  border-radius: 2vw;
}

footer .mycl-footer-right{
  display: flex;
  justify-content: space-between;
}

footer img{
  width: 3vw;
  height: 3vw;
  margin-right: 1vw;
}

footer a:hover{
  transform: scale(1.2);
}

/* CSS Media Querries */

@media screen and  (max-width:768px){
  .mycl-hero-section{
    flex-direction: column-reverse;
  }

  .mycl-hero-section-image img{
    width: 70vw;
  }

  .mycl-hero-section-text{
    width: 80vw;


  }

  .mycl-hero-section-text > h1{
    font-size: 6.6vw;
  }

  .mycl-hero-section-text p {
    font-size: 3.4vw;
  }

  .mycl-hero-section-text button{
    padding: 1vw 2vw;
    font-size: 3vw;
    border-radius: 1vw;
  }

  .mycl-introduction-section-text h1{
    font-size: 6.6vw;
  }

  .mycl-introduction-section-text p {
    font-size: 3.4vw;
  }

  .mycl-bio-flex{
    flex-direction: column;
  }

  .mycl-bio-section > h1{
    font-size: 6.6vw;
  }

  .mycl-bio-img-div{
    width: 80vw;
  }

  .mycl-bio-img-div img{
    width: 80vw;
  }

  .mycl-bio-text-div {
    width: 80vw;
  }

  .mycl-bio-text-div p{
    font-size: 3.4vw;
  }

  .mycl-skill-section > h1{
    font-size: 6.6vw;
  }

  .mycl-flex-item > h1 {
    font-size: 4vw;
  }

  .mycl-flex-item > h2{
    font-size: 2.5vw;
  }
  
  .mycl-flex-item > h3{
    font-size: 2.6vw;
    text-align: center;
  }

  .mycl-flex-item{
    width: 35vw;
  }

  .mycl-project-section > h1 {
    font-size: 6.6vw;
  }

  .mycl-project-section > h2{
    font-size: 5vw;
  }

  .mycl-projects-flex{
    display: grid;
    grid-template-columns: auto auto;
    
  }

  .mycl-projects-flex-card{
    width: 30vw;
  }

  .mycl-projects-flex-card-body h5 {
    font-size: 2.2vw;
  }

  .mycl-projects-flex-card-body p{
    font-size: 2vw;
  }

  .mycl-projects-flex-card-body a{
    font-size: 2.2vw;
    border-radius: 1vw;
    padding: 1vw 2vw;
  }

  .container .heading{
    font-size: 2.8vw;
    font-size: 6vw;
  }

  .form{
    max-width: 70vw;
  }

  .form .btn {
    padding: 1vw 1.5vw;
    font-size: 2vw;
  }

  .input-field input{
    padding: 1vw 1.4vw;
    font-size: 2vw;
    border-radius: 1.6vw;
  }

  .input-field input:focus ~ label,
.input-field input:valid ~ label{
  transform: translateY(-51%) translateX(-1.6vw) scale(0.8);
  padding: 0px 0.4vw;
  border-radius: 10vw;
}

.form .passicon{
  font-size: 2.6vw;
}

.input-field input,
.input-field textarea{
  padding: 1.4vw 1.6vw;
  font-size: 2vw;
  border-radius: 2vw;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label,
.input-field textarea:focus ~ label,
.input-field textarea:valid ~ label{
  transform: translateY(-91%) translateX(-2vw) scale(0.8);
  padding: 0 10px;
}

.form .btn {
  background-color: #64e3ff;
  color: #29262e;
  border: none;
  padding: 1vw 2vw;
  font-weight: 900;
  font-size: 3vw;
  border-radius: 1vw;
  margin-top: 1.6vw;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

}